* {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

body, table td, select {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.contextArea {
  border-top: 1px solid #7598c7;	
  background-image: url(images/context_area.png);
  background-repeat: repeat-x;  
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;  
}

.masthead {
  background-image: url(images/masthead.png);
  background-repeat: repeat-x; 
}

.masthead-Logo {
  height: 48px;
  width: 48px;
  padding-top: 4px;
  padding-left: 8px;	
}

.mastHead-Name {
  color: #000000;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-top: 12px;
  padding-left: 2px;	
  text-align: left;
}

.mastHead-SignedInUser {
  color: #000000;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  padding-right: 4px;
  text-align: right;
}

.navigationPane {
  border-top: 1px solid #7598c7;
}

.navigationPaneGridCell,
.navigationPaneGridCellDark {
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

  
.navigationPaneGridCellOver,
.navigationPaneGridCellOverDark,
.navigationPaneGridCellSelected,
.navigationPaneGridCellSelectedDark,
.navigationPaneGridCellSelectedOver,
.navigationPaneGridCellSelectedOverDark {
  background: url(images/navigation_pane_gridcell_over.png) repeat-x bottom left scroll;
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.basePanel {
	color: black;
 	font-family: Tahoma, Verdana, sans-serif;
 	font-size: 50px;
}

.header {
	color: white;
  	width: 100%;
 	padding: 10px;
  	font-family: Helvetica sans-serif;
  	font-weight: bold;
  	font-size: 17pt;
  	background: url(images/iPhoneToolbar.png) #6d84a2 repeat-x;
}

.title {
	cursor: pointer;
	color: white;
	font-family: Helvetica sans-serif;
  	font-weight: bold;
  	font-size: 17pt;
}

.PanelLabel {
  	border-bottom: 1px solid rgb(217, 217, 217);
}

.PanelLabelContent {
	font-size: 30pt;
	font-weight: heavy;
}

.backButton {
	cursor: pointer;
	font-size: 10pt;
	font-weight: normal;
  	vertical-align: middle;
  	border-width: 0 8px 0 14px;
   	background: url(images/iPhoneBackButton.png) no-repeat;
}

.goButton {
  	cursor: pointer;
  	font-size: 10pt;
  	font-weight: normal;
  	vertical-align: middle;
    border-width: 0 5px;
   	background: url(images/iPhoneBackButton2.png) top right no-repeat;
}

.eventFeedListGridCell,
.eventFeedListGridCellOver,
.eventFeedListGridCellDark,
.eventFeedListGridCellOverDark,
.eventFeedListGridCellOverDark,
.eventFeedListGridCellSelected,
.eventFeedListGridCellSelectedDart,
.eventFeedListGridCellSelectedOver,
.eventFeedListGridCellSelectedOverDark {
	border-bottom: 1px solid #a0a0a0;
	font-family: 'Segoe UI','Lucida Grande','Lucida Sans',Verdana,Arial,sans-serif;
	background-color: #F0F8FF;
}


.eventFeedListGridCell,
.eventFeedListGridCellDark {
	color: #000;
	background-color: #FFF;
}

.eventFeedListGridCellOver,
.eventFeedListGridCellOverDark {
	color: #000;
	background-color: #E5F6FF;
}

.wizard-Header {
  background-color: #6495ED;
}

.wizard-Name {
  color: #FFFFFF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 4px;
  text-align: left;
  vertical-align: bottom;
}

.wizard-Description {
  color: #FFFFFF;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 8px;
  text-align: left;
  vertical-align: top;
}

.wizard-Body {
  background-color: #F0F8FF;
}

.wizard-Footer {
  background-color: #F0F8FF;
  border-top: 1px solid #7598c7;
  padding-left: 8px;
  padding-right: 8px;
}

.popup-header {
	background-color: #FF9933;
}

.popup-body {
	background-color: #FFFFCC;
}

.popup-footer {
	background-color: #FFFFCC;
  	border-top: 1px solid #7598c7;
  	padding-left: 8px;
  	padding-right: 8px;
}